:root {
	--mdc-theme-primary: #2e5fe1;
}

body {
}

.container {
    font-size: 12px;
}

.no-expanded {
    display: none;
}

.expanded {
    display: block;
}

.symbol-no-expanded, .symbol-expanded {
	width: 15px;
	height: 20px;
	margin: 0 0 0 10px;
    display: inline-block;
}

.symbol-no-expanded:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-color: transparent transparent transparent rgba(0, 0, 0, 0.654);
	margin: 7px 0 0 0;
}

.symbol-expanded:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-color: rgba(0, 0, 0, 0.654) transparent transparent transparent;
	margin: 7px 0 0 0;
}

.log-level {
    color: #fff;
    font-size: 10px;
    border-radius: 3px;
    border-color: #eee;
	display: inline-block;
	width: 16px;
	height: 16px;
	text-align: center;
	vertical-align: top;
	margin: 3px 0 0 0;
}

.log-level-debug {
    background-color: #777;
}

.log-level-info {
    background-color: #76a8fa;
}

.log-level-warning {
    background-color: #f79917;
}

.log-level-error {
    background-color: #e87214;
}

.log-level-critical {
    background-color: #d34632;
}

.log-area {
	overflow: auto;
	position: absolute;
	top: 120px;
	bottom: 0;
	width: 99%;
	margin: 10px 0 0 0;
}

.logview {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.log-line {
    /* height: 30px; */
}

.request-summary {
    display: inline-block;
    vertical-align: top;
    padding: 2px 0 2px 0;
	margin: 0 0 0 5px;
}

.request-log-item {
	background-color: #eee;
	margin: 0 5px 0 5px;
	padding: 0px 5px 0px 5px;
	display: inline-block;
}

.request-log-item-method {
	width: 35px;
	text-align: left;
}

.request-log-item-status {
	width: 25px;
	text-align: center;
}

.request-log-item-size {
	width: 55px;
	text-align: right;
}

.request-log-item-latency {
	width: 50px;
	text-align: right;
}

.request-log-item-resource {
	margin: 0 0 0 5px;
}

.filter-input {
	width: 100%;
	height: 24px;
	padding: 1px 0px 2px 6px;
	box-sizing: border-box;
	margin: 20px 0 0 0;
}

.app-log-lines {
	margin: 0 0 0 10px;
}

.app-log-line {
    padding: 2px 2px 2px 2px;
}

ul {
    list-style: none;
}

li {
	border-top: solid 1px #eee;
	/* border-bottom: solid 1px #eee; */
}

li:nth-child(2n+0) {
	background-color: #fff;
}

li:nth-child(2n+1) {
	background-color: #fafafa;
}

li:hover {
	background-color: #ffffcd;
}

.app-log-time {
    margin: 0 0 0 10px;
}

.app-log-message {
    margin: 0 0 0 10px;
}
