:root {
	--mdc-theme-primary: #2e5fe1;
}

.non-expanded {
	/* display: none; */
}

.symbol-no-expanded, .symbol-expanded {
	width: 15px;
	height: 40px;
	margin: 0 0 0 10px;
}

.symbol-no-expanded:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	rotate(90deg);
	border-color: transparent transparent transparent rgba(0, 0, 0, 0.654);
	margin: 14px 0 0 0;
}

.symbol-expanded:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	/* rotate(90deg); */
	border-color: transparent transparent transparent rgba(0, 0, 0, 0.654);
	margin: 14px 0 0 0;
}

.request-log-item {
	background-color: #eee;
	margin: 0 5px 0 5px;
	padding: 0 5px 0 5px;
}

.filter-input {
	width: 100%;
	height: 24px;
	padding: 1px 0px 2px 6px;
}

.logview {
	padding: 10px 0 0 0;
}

li {
	border-top: solid 1px #eee;
	/* border-bottom: solid 1px #eee; */
}

li:nth-child(2n+0) {
	background-color: #fff;
}

li:nth-child(2n+1) {
	background-color: #fafafa;
}

li:hover {
	background-color: #ffffcd;
}
