:root {
	--mdc-theme-primary: #2e5fe1;
}

body {
    font-size: 14px;
}

.no-expanded {
    display: none;
}

.expanded {
    display: block;
}

.symbol-no-expanded, .symbol-expanded {
	width: 15px;
	height: 20px;
	margin: 0 0 0 10px;
    display: inline-block;
}

.symbol-no-expanded:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-color: transparent transparent transparent rgba(0, 0, 0, 0.654);
	margin: 7px 0 0 0;
}

.symbol-expanded:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-color: rgba(0, 0, 0, 0.654) transparent transparent transparent;
	margin: 7px 0 0 0;
}

.log-level {
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    border-color: #eee;
}

.log-level-debug {
    background-color: #777;
    padding: 2px 4px 2px 4px;
}

.log-level-info {
    background-color: #76a8fa;
    padding: 2px 6px 2px 6px;
}

.log-level-warning {
    background-color: #f79917;
    padding: 2px 4px 2px 4px;
}

.log-level-error {
    background-color: #e87214;
    padding: 2px 4px 3px 5px;
}

.log-level-critical {
    background-color: #d34632;
    padding: 1px 4px 3px 5px;
}

.log-line {
    /* height: 30px; */
}

.request-info {
    display: inline-block;
    vertical-align: top;
    padding: 2px 0 2px 0;
}

.request-log-item {
	background-color: #eee;
	margin: 0 5px 0 5px;
	padding: 0 5px 0 5px;
}

.filter-input {
	width: 100%;
	height: 24px;
	padding: 1px 0px 2px 6px;
}

.logview {
	padding: 10px 0 0 0;
}

.app-log-line {
    padding: 2px 2px 2px 2px;
}

ul {
    list-style: none;
}

li {
	border-top: solid 1px #eee;
	/* border-bottom: solid 1px #eee; */
}

li:nth-child(2n+0) {
	background-color: #fff;
}

li:nth-child(2n+1) {
	background-color: #fafafa;
}

li:hover {
	background-color: #ffffcd;
}

.app-log-time {
    margin: 0 0 0 10px;
}

.app-log-message {
    margin: 0 0 0 10px;
}
