<!DOCTYPE html>
<html>
<head>
  <title>GAE Log Viewer</title>
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@0.27.0/dist/material-components-web.css">
  <script type="text/javascript" src="https://unpkg.com/material-components-web@0.27.0/dist/material-components-web.js"></script>
  <script src="https://unpkg.com/vue@2.5.11/dist/vue.min.js"></script>
  <style>
    body {
    }
  </style>
</head>
<body>
<header class="mdc-toolbar mdc-toolbar--fixed">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <span class="mdc-toolbar__title">GAE Log Viewer</span>
    </section>
  </div>
</header>

<main id="app" class="mdc-toolbar-fixed-adjust">
  <section>
    <ul id="log-lines" class="mdc-list">
      <li v-for="log in logs" class="mdc-list-item">
      ${log.startTime}
      </li>
    </ul>
  </section>
</main>

<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data: {
      logs: [],
    }
  });

  var source = new EventSource('/event/logs');
  source.onmessage = function(e) {
    var log = JSON.parse(e.data);
    console.log(log);
    app.logs.push(log);
  };
</script>
</body>
</html>
