<!DOCTYPE html>
<html>
<head>
  <title>GAE Log Viewer</title>
  <!-- <link rel="stylesheet" href="https://unpkg.com/material-components-web@0.27.0/dist/material-components-web.css"> -->
  <link rel="stylesheet" href="static/vendor/material-components-web.0.27.0.css">
  <script type="text/javascript" src="https://unpkg.com/material-components-web@0.27.0/dist/material-components-web.js"></script>
  <!-- <script src="https://unpkg.com/vue@2.5.11/dist/vue.min.js"></script> -->
  <script src="static/vendor/vue.2.5.11.min.js"></script>
  <link href="static/main.css" rel="stylesheet">
</head>
<body class="mdc-typography">
<header class="mdc-toolbar mdc-toolbar--fixed">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <span class="mdc-toolbar__title">gaelv - GAE Log Viewer</span>
    </section>
  </div>
</header>

<main id="app" class="mdc-toolbar-fixed-adjust">

  <div class="mdc-layout-grid">
    <input class="filter-input" v-model="filterText" placeholder="Filter by regexp" type="text">
    <ul id="log-lines" class="mdc-list mdc-list--dense logview">
      <li v-for="log in filteredLogs" class="mdc-list-item" v-on:click="toggleExpansion">
        <!-- <div v-on:click="toggleExpansion" class="symbol-no-expanded"></div> -->
        ${formattedTime(log.startTime)} ${log.method} ${log.status} ${log.responseSize} ${latencyStr(log.latency)} ${log.resource}
        <div>
          <ul class="non-expanded mdc-list">
            <li v-for="appLog in log.appLogs" class="mdc-list-item">
            ${appLog.level} ${formattedTime(appLog.time)} ${appLog.message}
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</main>

<script src="static/main.js" type="text/javascript"></script>
</body>
</html>
